<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>MobiLeLeLe</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <link rel="stylesheet" href="/font/fontawesome/css/solid.css"/>
    <link rel="stylesheet" href="/font/fontawesome/css/fontawesome.min.css"/>
    <script src="/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
<th:block th:include="~{/header.html}"></th:block>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column" th:each="b : ${brands}">
            <h2>Car brand:
                <span th:text="${b.name}"></span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="m, mStat : ${b.models}">
                        <th th:text="${mStat.count}">No</th>
                        <th th:text="${m.name}"></th>
                        <th>Car</th>
                        <th th:text="${m.startYear}">Model Start Year</th>
                        <th th:text="${m.endYear}">Model End Year</th>
                        <th><img th:src="${m.getImageUrl()}" class="img-thumbnail rounded" alt="Image not available"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <!--    <footer>Create your custom footer :)</footer>-->
</div>

</body>
</html>
