<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('All Brands')"/>


<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <h2 class="text-center text-white m-3">All Brands</h2>
    <div class='row mb-4 d-flex justify-content-around'>
        <div class="brand-section col-md-5 mr-auto d-flex flex-column" th:each="b : ${brands}">
            <h2>Car brand:
                <span th:text="${b.name}"></span>
            </h2>
            <div>Models:
                <table>
                    <tr>
                        <th>No</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Start Year</th>
                        <th>End Year</th>
                        <th>Picture</th>
                    </tr>
                    <tr th:each="m, mStat : ${b.models}">
                        <th th:text="${mStat.count}">No</th>
                        <th th:text="${m.name}"></th>
                        <th>Car</th>
                        <th th:text="${m.startYear}">Model Start Year</th>
                        <th th:text="${m.endYear}">Model End Year</th>
                        <th><img th:src="${m.getImageUrl()}" class="img-thumbnail rounded" alt="Image not available"></th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div>
    <!--    <footer>Create your custom footer :)</footer>-->
</div>

</body>
</html>
